.follower-btn1 {
    background-color: lightskyblue;
    border-radius: 20px;
    width: 180px;
    height: 50px;
    margin: 10px 10px 10px 10px;
}

.follower-btn2 {
    background-color: lightpink;
    border-radius: 20px;
    width: 180px;
    height: 50px;
    margin: 10px 10px 10px 10px;
}

